.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.entries {
  padding-bottom: 2rem;
}

header {
  width: 100%;
}

.label {
  margin-bottom: 1rem;
}

.label.top-marg {
  margin-top: 1rem;
}

.column-full,
.column-half {
  width: 100%;
}

.column-full.header {
  display: flex;
  background-color: rgb(77, 0, 128);
}

.column-full.title-button {
  display: flex;
  justify-content: space-between;
}

.inner-div {
  display: flex;
  justify-content: space-between;
}

.button {
  text-align: right;
  margin-bottom: 1rem;
}

.text-input,
.photo-input,
.textarea {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
