* {
  font-family: "Open Sans", sans-serif;
}

button {
  width: 60px;
  height: 1.5rem;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

h3 {
  background-color: purple;
  color: white;
}

.image {
  width: 100%;
  height: 100%;
}

.textarea {
  width: 100%;
  height: 7rem;
}

.title-input {
  width: 80%;
}

.photo-input {
  width: 80%;
}
